.page {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  align-items: center;

  min-height: 100vh;
  min-height: 100dvh;
  padding: 20px;
  /* gap: 20px; */
}

.page_header {
  text-align: center;
  max-width: 480px;
}

.page__title {
  font-weight: 600;
  color: var(--grey-500);
  margin: 0;
  font-size: 1.8rem;
}

.page__allocation {
  font-weight: 200;
}

.page__text {
  margin: 0;
}

.page__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  gap: 20px;
}

.page__card_middle {
  display: grid;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: auto auto;
    align-items: start;
    gap: 50px;
  }

  .page_header {
    padding-top: 25px;
  }

  .page__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 20px;
  }
}
