.page {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;

  height: 100vh;
  height: 100dvh;
}

.page_header {
  text-align: center;
  max-width: 480px;
}
