.page {
  display: grid;
  grid-template-rows: 0.3fr 0.5fr;
  justify-items: center;
  align-items: center;

  height: 100vh;
  height: 100dvh;
  padding: 20px;
  gap: 20px;
}

.page_header {
  text-align: center;
  max-width: 480px;
}

.page__title {
  font-weight: 700;
  color: var(--grey-500);
  margin: 0;
  font-size: 1.8rem;
}

.page__allocation {
  font-weight: 200;
}

.page__text {
  margin: 0;
}

.page__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  gap: 20px;
}

.center {
  grid-column: 2;
}

.left {
  grid-column: 1;
  grid-row: 1 / 3;
}

.right {
  grid-column: 3;
  grid-row: 1 / 3;
}

.page__card_middle {
  display: grid;
  gap: 20px;
}

@media screen and (max-width: 768px) {
  .page {
    grid-template-rows: 0.1fr 1fr;
    align-items: start;
    gap: 50px;
  }

  .page_header {
    padding-top: 25px;
  }

  .page__cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 20px;
  }

  .left {
    grid-row: auto;
    grid-column: auto;
  }

  .center {
    grid-column: auto;
  }

  .right {
    grid-row: auto;
    grid-column: auto;
  }
}
